# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# SQLite Database
# ==========================
*.db
*.sqlite3

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Type Checkers
# ==========================
.mypy_cache/
.pyre/
.ruff_cache/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/